RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_LOCAL_HOST_NAME=rabbitmq
RABBITMQ_LOCAL_PORT=5672

ORDERS_RABBITMQ_QUEUE=orders_queue
NOTIFICATION_RABBITMQ_QUEUE=notification_queue

DB_HOST=postgres
DB_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=orders_db